body {
    background-image: url(../images/skullsbackground.jpg);
    font-family: 'Frijole', cursive;
    margin: 0;
}

.container {
    margin: auto;
    background-color: ghostwhite;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid purple 5px;
}

p {
    font-weight: bolder;
    color: orange;
}

img {
    border: solid purple 2px;
}

h1 {
    margin: 20px;
    font-family: 'Frijole', cursive;
}

#currentWord {
    letter-spacing: 5px;
}

